<div class="row fast-animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Search user..." (keyup)="search(txtTarget.value)"
          #txtTarget>
      </div>
    </div>
  </div>
</div>

<div class="row fast-animated fadeIn" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0 mt-1">Please wait...</p>
    </div>
  </div>
</div>

<div class="row fast-animated fadeIn" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total: {{totalUsers}}</h4>
        <h6 class="card-subtitle">Registered users on the app</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Email</th>
                <th>Name</th>
                <th class="w100">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center"><img [src]="user.imageUrl" [alt]="user.name" class="avatar" /></td>
                <td style="vertical-align: middle">{{user.email}}</td>
                <td style="vertical-align: middle">{{user.name}}</td>
                <td style="vertical-align: middle">{{user.role}}</td>
                <td style="vertical-align: middle">
                  <span *ngIf="user.google" class="label label-danger">Google</span>
                  <span *ngIf="!user.google" class="label label-info">Email</span>
                </td>
                <td class="text-nowrap text-center" style="vertical-align: middle">
                  <a data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a data-toggle="tooltip" data-original-title="Delete" class="pointer" (click)="deleteUser(user)"> <i
                      class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="txtTarget.value.length === 0">
          <button class="btn btn-secondary mr-3" (click)="changePage(-5)">Prev</button>
          <button class="btn btn-secondary" (click)="changePage(5)">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>